trigger:
- main

pool:
  vmImage: 'ubuntu-22.04'   # không dùng ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

- script: |
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# Install Chromium
- script: |
    sudo apt update
    sudo apt install -y chromium-browser chromium-chromedriver xvfb
    chromium-browser --version
    chromedriver --version
  displayName: 'Install Chromium & Driver'

# Run tests
- script: |
    export HEADLESS=true
    export BROWSER=chrome
    export PATH=/usr/lib/chromium-browser/:$PATH
    xvfb-run -a robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report
