trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install Chrome
- script: |
    sudo apt update
    sudo apt install -y google-chrome-stable xvfb
  displayName: Install Chrome & xvfb


# Install python deps
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Run tests with virtual display
- script: |
    xvfb-run -a robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report