# Trigger: Chạy pipeline khi có code được push vào nhánh main
trigger:
- main

# Pool: Sử dụng máy ảo Ubuntu mới nhất của Azure để build
pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

# Setup Python version 3.11
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Cài đặt Chrome browser và xvfb (X Virtual Framebuffer) để giả lập màn hình cho headless mode
- script: |
    sudo apt update
    sudo apt install -y google-chrome-stable xvfb
  displayName: Install Chrome & xvfb


# Setup các thư viện Python từ requirements.txt
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Chạy Robot Framework tests
# xvfb-run: Chạy chương trình trong môi trường ảo hóa màn hình (dùng cho Linux GUI app)
# --variable ENV:ci: Truyền biến môi trường CI vào Robot code (để load common_ci.resource)
- script: |
    xvfb-run -a robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests

# Publish kết quả test (report.html, log.html) lên Azure DevOps để xem online
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report