trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install libs
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# Install Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y google-chrome-stable
  displayName: 'Install Chrome'

# Run robot (headless)
- script: |
    export HEADLESS=true
    xvfb-run robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report