trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

# Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install libs
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Install matching ChromeDriver for Chrome 143
- script: |
    sudo rm -f /usr/bin/chromedriver /usr/local/bin/chromedriver || true

    DRIVER_VERSION=143.0.7499.192
    echo "Using ChromeDriver $DRIVER_VERSION"

    wget https://storage.googleapis.com/chromedriver-storage-public/$DRIVER_VERSION/linux64/chromedriver-linux64.zip
    unzip chromedriver-linux64.zip
    sudo mv chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
    sudo chmod +x /usr/local/bin/chromedriver

    chromedriver --version
  displayName: Install matching ChromeDriver

# Run robot with virtual display
- script: |
    xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" \
    robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report