trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

# Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install libs
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Check Chrome
- script: |
    google-chrome --version
    chromedriver --version
  displayName: Check Chrome

# Run robot with CI config
- script: |
    robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report