trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Start Selenium Chrome container
- script: |
    docker run -d -p 4444:4444 --shm-size="2g" selenium/standalone-chrome:latest
    sleep 10
  displayName: Start Selenium Chrome

# Run robot
- script: |
    robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests