trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# Use Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install Google Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip xvfb
    wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    sudo apt install -y ./google-chrome-stable_current_amd64.deb
  displayName: 'Install Google Chrome'

# Install ChromeDriver (official Chrome for Testing)
- script: |
    wget -q https://storage.googleapis.com/chrome-for-testing-public/143.0.7499.193/linux64/chromedriver-linux64.zip
    unzip chromedriver-linux64.zip
    sudo mv chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
    sudo chmod +x /usr/local/bin/chromedriver
  displayName: 'Install ChromeDriver'

# Install Python dependencies
- script: |
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# Run Robot Framework tests
- script: |
    xvfb-run robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report
