trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# 1. Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# 2. Cài thư viện
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# 3. Remove chromedriver cũ của Azure
- script: |
    sudo rm -f /usr/bin/chromedriver
    sudo rm -f /usr/local/bin/chromedriver
    which chromedriver || echo "No chromedriver in PATH"
  displayName: 'Remove default ChromeDriver'

# 4. Cài Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip curl xvfb libxi6 libgconf-2-4

    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    sudo apt install -y ./google-chrome-stable_current_amd64.deb

    google-chrome --version
  displayName: 'Install Google Chrome'

# 5. Cài ChromeDriver đúng version Chrome
- script: |
    CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d '.' -f 1)
    echo "Chrome major version: $CHROME_VERSION"

    DRIVER_VERSION=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION)
    echo "ChromeDriver version: $DRIVER_VERSION"

    wget https://chromedriver.storage.googleapis.com/$DRIVER_VERSION/chromedriver_linux64.zip
    unzip chromedriver_linux64.zip

    sudo mv chromedriver /usr/bin/chromedriver
    sudo chmod +x /usr/bin/chromedriver

    chromedriver --version
  displayName: 'Install matching ChromeDriver'

# 6. Run Robot bằng XVFB
- script: |
    xvfb-run --auto-servernum --server-args='-screen 0 1920x1080x24' \
    robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

# 7. Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report
