trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# 1. Dùng Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# 2. Cài thư viện
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# 3. Cài Google Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y wget gnupg unzip curl

    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    sudo apt install -y ./google-chrome-stable_current_amd64.deb

    google-chrome --version
  displayName: 'Install Google Chrome'

# 4. Cài ChromeDriver đúng version Chrome
- script: |
    CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d '.' -f 1)
    echo "Chrome major version: $CHROME_VERSION"

    DRIVER_VERSION=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION)
    echo "ChromeDriver version: $DRIVER_VERSION"

    wget https://chromedriver.storage.googleapis.com/$DRIVER_VERSION/chromedriver_linux64.zip
    unzip chromedriver_linux64.zip

    sudo mv chromedriver /usr/local/bin/
    sudo chmod +x /usr/local/bin/chromedriver

    chromedriver --version
  displayName: 'Install ChromeDriver'

# 5. Dùng common_ci.resource cho pipeline
- script: |
    cp resources/common_ci.resource resources/common.resource
  displayName: 'Use CI common resource'

# 6. Chạy Robot headless
- script: |
    robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

# 7. Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report
