trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

# Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install libs
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies

# Start Selenium Chrome container
- script: |
    docker run -d -p 4444:4444 --shm-size="2g" selenium/standalone-chrome:latest
    until curl -s http://localhost:4444/wd/hub/status | grep -q '"ready":true'; do
      echo "Waiting for Selenium..."
      sleep 5
    done
  displayName: Start Selenium Chrome

# Run robot with CI config
- script: |
    robot --variable ENV:ci ts01-search-book ts02-delete-book
  displayName: Run Robot Framework tests

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report