trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# Use Python
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Install Chrome
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip xvfb
    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    sudo apt install -y ./google-chrome-stable_current_amd64.deb
  displayName: 'Install Google Chrome'

# Install ChromeDriver
- script: |
    CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d '.' -f 1)
    wget https://chromedriver.storage.googleapis.com/$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION)/chromedriver_linux64.zip
    unzip chromedriver_linux64.zip
    sudo mv chromedriver /usr/local/bin/
    sudo chmod +x /usr/local/bin/chromedriver
  displayName: 'Install ChromeDriver'

# Install Python dependencies
- script: |
    pip install -r requirements.txt
  displayName: 'Install dependencies'

# Run Robot with virtual display
- script: |
    xvfb-run robot ts01-search-book ts02-delete-book
  displayName: 'Run Robot Framework tests'

# Publish report
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifact: robot-report
